<!-- About -->

<app-navbar></app-navbar>
<div class="about_img"><img src="../../assets/images/about.jpg" class="responsive"></div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>A few words about us</h2></div>
            </div>
        </div>
        <div class="row d-flex flex-row about_row">
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="text_highlight">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="about_text">
                        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies consequat.</p>
                    </div>
                    <div class="button about_button"><a href="#">read more</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image"><img src="../../assets/images/about_1.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

  <!-- why -->
  
  <div class="container-fluid why">
      <div class="row why_head">
          <div class="col text-center">
              <div class="why_section_subtitle">simply amazing places</div>
              <div class="why_section_title"><h2>Why choose us?</h2></div>
        </div>
    </div>
    <div class="container ">
        <div class="row d-flex flex-row">
            <div class="col-lg-4 d-flex flex-column why_item">
                <div style="height:50%; width: 100% ">
                        <img src="../../assets/images/why_1.jpg" height="100%" width="100%">
                    </div>
                <div class="why_content">
                    <div class="why_title">Fast Services</div>
                    <div class="why_text">
                        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex flex-column why_item">
                <div style="height:50%; width: 100% ">
                        <img src="../../assets/images/why_2.jpg" height="100%" width="100%">
                    </div>
                    <div class="why_content">
                    <div class="why_title">Great Team</div>
                    <div class="why_text">
                        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex flex-column why_item">
                <div style="height:50%; width: 100% ">
                    <img src="../../assets/images/why_3.jpg" height="100%" width="100%">
                </div>
                <div class="why_content">
                    <div class="why_title">Best Deals</div>
                    <div class="why_text">
                        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- team -->

<div class="container-fluid team">
    <div class="row">
        <div class="col text-center">
            <div class="section_subtitle">simply amazing places</div>
            <div class="section_title"><h2>Meet the Team</h2></div>
        </div>
    </div>
    <div class="row d-flex flex-row">
        <div class="col-lg-6 team_content">
            <div class="d-flex flex-row">
                <div class="team_image"><img src="../../assets/images/team_2.jpg" alt=""></div>
                <div class="team_item">
                    <div class="team_title">Ashutosh Garg</div>
                    <div class="team_text"><p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 team_content">
            <div class="d-flex flex-row">
                <div class="team_image"><img src="../../assets/images/team_1.jpg" alt=""></div>
                <div  class="team_item">
                    <div class="team_title">Diksha Jangir</div>
                    <div class="team_text"><p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>