<app-navbar></app-navbar>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="container">
  <div class="adv">
      <div class="row adv_head">
          <div class="col text-center">
              <div class="section_subtitle">simply amazing places</div>
              <div class="section_title"><h2>Adventure Sports</h2></div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/paragliding.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3>Para Gliding & Hang Gliding</h3></div>
              <div>
                  <p>You could never feel more alive than this. Para gliding and hang gliding are two sports that make you feel like a carefree wandering bird, soaking in the fresh and mystical air of the mountains. If you are interested, Himachal Aero Institute in Bilaspur would prove great to give you a headstart. Here are some places where you can engage in these sports.
                  <br><span style="font-weight: bold; font-style: italic;">Bir in Kangra valley, Intakali near Shimla, Bundla dhar in Bilaspur, Bijli Mahadeo in Bhunter, Manali, Pabbar valley, Arhaul, Solang valley, Kullu</span>
                  </p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/trekking_adv.jpg">
              </div>
          </div>
          <div class="col-lg-8 item_dem">
              <div class="text-center" style="padding-bottom: 3%"><h3>Trekking</h3></div>
              <div>
                  <p>Trekking is one of the most exciting and affordable adventure activity in Himachal Pradesh. The numerous paths amidst thick forests, with rivulets and snow clad mountains  keeping you company all along make your trekking experience simply amazing. There are about 270 trekking trails in Himachal of which following are the most popular.
                 <br> <span style="font-weight: bold; font-style: italic;">Bara to Bhangal trek, Pin Parvati trek, Kinnaur to Kailash trek, Spiti to Garhwal trek, Bharmour to Padum trek</span></p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/river_rafting.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3>River Rafting</h3></div>
              <div>
                  <p>The presence of several glacial rivers in Himachal make it ideal for multitude water sports like river rafting, rowing, canoeing, water skiing etc. The thrill of indulging in these fast paced adventure sports in the white water is beyond what words can explain. Here are some places where you can enjoy these sports.
                  <br> <span style="font-weight: bold; font-style: italic;">Satluj river in Shimla, Chenab in Lahaul valley, River Beas near Kullu valley</span></p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/camping.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3>Camping</h3></div>
              <div>
                  <p>Many beautiful open lands, riversides and forest clearings of the Himalayan landscape render it ideal ground for camping. The magnificent snow laden mountains, thick curtains of greenery and riveting streams and rivers paint a splendid image that attracts the tourists even more to stay close to the nature. Some, of the best camping sites in Himachal Pradesh are Chail in Shimal, Tabo in Spiti and Sangla valley.
                  <br><span style="font-weight: bold; font-style: italic;">Sarchu in Lahaul, Sangla in Kinnaur, Kalpa in Kinnaur, Kazza in Spiti</span>
                  </p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/ski.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3>Skiing</h3></div>
              <div>
                  <p>Skiing is one sport that draws tourists and adventure seekers to Himachal Pradesh. There is Alpine kind of skiing which is skiing down the steeply inclined slopes and there is Nordic type of skiing that is more challenging and and consists of cross country skiing and jumping. The snow draped slopes of Himalayas like Shivalik, Pir Panjal and Dhauladhar are ideal for the sport. Best time for skiing is winters, especially the months of mid December to February. If you are a skiing enthusiast here are where you can look to satiate yourself:
                  <br><span style="font-weight: bold; font-style: italic;">Kufri in Shimla, Solang valley in Manali, Narkanda 64 km away from Shimla</span>
                  </p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/ice-skate.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3> Ice Skating</h3></div>
              <div>
                  <p>An elegant, safer and comparatively much easier sports, nonetheless equally engaging, Ice Skating along with figure skating and ice hockey can be enjoyed in Shimla. It is the oldest ice skating rink in the whole of Asia and made up of natural snow. Months from December up till February make the best time for you to test your talent at it. Shimla also holds annual winter sports festival where you can also compete if you are an ice skating enthusiast.
                  </p>
              </div>
          </div>
      </div>

      <div class="row d-flex flex-row item">
          <div class="col-lg-4 adv_img">
              <div class="adv_img">
                  <img src="../../assets/images/mountaineering.jpg">
              </div>
          </div>
          <div class="col-lg-8 text-center item_dem">
              <div style="padding-bottom: 3%"><h3>Mountaineering and Rock Climbing</h3></div>
              <div>
                  <p>The mountainous topography of Himachal Pradesh has blessed the state with ample cliffs, hills and rocks that are ideal for rock climbing and mountaineering, most of which is done in Manali itself. Manali also has an institute named Atal Bihari Vajpayee Institute for Mountaineering and Allied Sports where you can get training for the same. It also carries out many mountaneering expeditions from time to time, viz. Shitidhar Expedition, Deo Tibba Expedition and Hanuman Tibba Expedition.
                  </p>
              </div>
          </div>
      </div>

  </div>
</div>

<app-footer></app-footer>