.rev
{
    padding: 5%;
}
.rev-header
{
    padding-bottom: 1%;
}
hr
{
    padding-bottom: 4%;
}
.pak
{
    padding-bottom: 10%;
}
.pak-img
{
    margin-top: 15%;
    margin-right: 20%;
    height: 500px;
}