<app-navbar></app-navbar>


<div class="container-fluid">
    <div class="row div_img" style="height: 70%">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Manali"><img src="../../assets/images/manali1.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Manali" class="polaroid_link">Manali</a>
            </div>
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Shimla"><img src="../../assets/images/shimla6.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Shimla" class="polaroid_link">Shimla</a>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Dharamshala"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Dharamshala" class="polaroid_link">Dharamshala</a>
            </div>
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Dalhousie"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Dalhousie" class="polaroid_link">Dalhousie</a>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Kufri"><img src="../../assets/images/kullu3.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Kufri" class="polaroid_link">Kufri</a>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Kullu"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Kullu" class="polaroid_link">Kullu</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Kasol"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Kasol" class="polaroid_link">Kasol</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Bir"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Bir" class="polaroid_link">Bir</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a  routerLink="/Mandi"><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Mandi" class="polaroid_link">Mandi</a>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image">
                <a routerLink="/Shimla" class="polaroid_link">Bir</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image">
                <a routerLink="/Shimla" class="polaroid_link">Bir</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 column" style="background-size: cover; background-position: center">
            <div class="polaroid">
                <a href=""><img src="../../assets/images/dharamshala7.jpg" alt="" height="350px" width="300px" class="polaroid_image"></a>
                <a routerLink="/Shimla" class="polaroid_link">Bir</a>
            </div>
        </div> -->
    </div>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>